
<div class="login-container">
  <div class="login-left">
    <h2>Reset ur password! 👋</h2>
    <p>Please enter ur new password</p>
    <form (ngSubmit)="onSubmit()">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="******">
      <button type="submit" class="btn btn-signin">Reset Now</button>
    </form>



  <div class="login-right">
    <div class="login-info">
      <h3>Why should I login?</h3>
      <p>By logging in, you can access your personal dashboard, where you can manage your account, view your profile, and much more.</p>
      <img src="assets/images/idps.jpg" alt="IDPS">
    </div>
  </div>
