
<div class="login-container">
  <div class="login-left">
    <h2>Reset ur password! 👋</h2>
    <p>Please enter ur email to send u reset link password</p>
    <form (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="test@atheros.ai">
      <button type="submit" class="btn btn-signin">Send</button>
    </form>

    <p>Don't have an account? <a href="signup">Sign Up Now</a></p>
  </div>
  <div class="login-right">
    <div class="login-info">
      <h3>Why should I login?</h3>
      <p>By logging in, you can access your personal dashboard, where you can manage your account, view your profile, and much more.</p>
      <img src="assets/images/idps.jpg" alt="IDPS">
    </div>
  </div>
